{% extends "base.html" %}

<!-- Title -->
{% block title %}About us{% endblock %}
{% block ogtitle %}About us{% endblock %}

<!-- Description -->
{% block description %}Read about StreamBet. The website, the idea and the conception of the first league of legends live stream betting site.{% endblock %}
{% block ogdescription %}Read about StreamBet. The website, the idea and the conception of the first league of legends live stream betting site.{% endblock %}

<!-- URL -->
{% block ogurl %}about{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">

  <div class="content-box">

    <h1 class="text-center"><span class="gold bold">About</span> us</h1>
    <hr>
    {% for para in about %}
    <p>
      {{ para }}
    </p>
    {% endfor %}
  </div>

</div>
{% endblock %}
