{% extends "base.html" %}

<!-- Title -->
{% block title %}Add a streamer{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">

  <div class="content-box center-box">

    <h2 class="text-center"><span class="gold bold">Add</span> a streamer</h2>
    <hr>

    <form data-toggle="validator" role="form">

      <!-- Channel Name -->
      <div class="form-group">
        <label for="inputchannelName" class="control-label">Channel name</label>
        <div class="input-group">
          <span class="input-group-addon twitch">twitch.tv/</span>
          <input type="text" data-error="Enter a channel name" class="form-control" id="inputchannelName" placeholder="Channel name" required>
        </div>
        <div class="help-block with-errors"></div>
      </div>

      <!-- Summoner Template -->
      <div class="form-group" id="summoner_template" style="display:none;">
        <label class="control-label" style="width:100%;">Summoner <span id="summonerNumber"></span></label>
        <div class="row" >
          <!-- Summoner Name -->
          <div class="form-group col-sm-6" style="margin-bottom:0">
            <input type="text" data-error="Enter summoner name" class="form-control" id="inputSummonerName" placeholder="Summoner name" required>
            <div class="help-block with-errors"></div>
          </div>

          <!-- Region Name -->
          <div class="form-group col-sm-6" style="margin-bottom:0">
            <select class="form-control">
              {% for region in region_list %}
              <option>{{ region.name }}</option>
              {% endfor %}
            </select>

          </div>
        </div>
      </div>

      <!-- List containing the summoners of the streamer -->
      <div id="summonerList">
      </div>

      <!-- Add or remove summoners -->
      <div class="form-group text-center">
        <button type="button" class="btn btn-lolbet" onclick="addSummoner()" ><i class="fa fa-plus fa-lg"></i></button>
        <button type="button" class="btn btn-lolbet" onclick="deleteSummoner()" ><i class="fa fa-minus fa-lg"></i></button>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <button type="submit" class="btn btn-default center-block" style="margin-top:30px;"><i class="fa fa-envelope fa-lg"></i> Send request</button>
      </div>

    </form>
  </div>

</div>
{% endblock %}

<!-- Javascript -->
{% block JS %}
<!-- Add Streamer js -->
<script src="js/add_streamer.js"></script>
{% endblock %}
