{% extends "base.html" %}

<!-- Title -->
{% block title %}Admin{% endblock %}

<!-- Nav -->
{% block admin %}class="active"{% endblock %}
{% block admin.m %}class="active"{% endblock %}

<!-- CSS -->
{% block CSS %}
<!-- DataTable-->
<link rel="stylesheet" href="/css/datatable.css">
{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">
  <!-- Content -->
  <div class="content-box ">
    <h2>Streamers</h2>
    <hr>
    <div class="row">
      <!-- Streamer list -->
      <div class="col-sm-7">
        <!-- Table -->
        <div class="table-responsive">
          <table id="example" class="table table-hover" cellspacing="0" width="100%" >
            <thead>
              <tr>
                <th><i class="fa fa-user gold"></i> Name </th>
                <th><i class="fa fa-video-camera gold"></i> Channel name </th>
                <th class="text-center"><i class="fa fa-check gold"></i> Valid </th>
                <th class="text-center"><i class="fa fa-eye gold"></i> Viewers </th>
              </tr>
            </thead>
            <tbody>
              {% for streamer in streamer_list %}
                <tr data-toggle="tab" href="#tab{{streamer.channelname}}">
                  <td id="table-name-{{streamer.channelname}}">{{ streamer.name }}</td>
                  <td>{{ streamer.channelname }}</td>
                  {% if streamer.valid %}
                  <td class="text-center on" id="box-{{streamer.channelname}}"><p style="display:none;">y</p><i class="fa fa-check" style="color:green;"></i></td>
                  {% else %}
                  <td class="text-center off" id="box-{{streamer.channelname}}"><p style="display:none;">n</p><i class="fa fa-times" style="color:red;"></i></td>
                  {% endif %}
                  <td class="text-center">{{ streamer.viewers }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

      <!-- Padding on small screen -->
      <div class="col-xs-12 visible-xs" style="height:20px;">
      </div>

      <!-- Streamer info -->
      <div class="tab-content col-sm-5">
        {% for streamer in streamer_list %}
        <div class="tab-pane" id="tab{{streamer.channelname}}">
          <h4>{{ streamer.channelname }}</h4>
          <form data-toggle="validator" data-disable="false" onsubmit="return nameStreamer('{{streamer.channelname}}')">
            <!-- Name -->
            <div class="form-group">
              <label for="inputName" class="control-label"><i class="fa fa-user gold"></i> Name</label>
              <div class="row">
                <div class="col-sm-10">
                  <input id="input-name-{{streamer.channelname}}" type="text" name="name" data-error="Enter a name" class="form-control" placeholder="Name" value="{{ streamer.name }}" required>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
                </div>
              </div>
            </div>
          </form>

          {% if streamer.valid %}
          <button id="validate-{{ streamer.channelname }}" onclick="validateStreamer('{{streamer.channelname}}')" type="button" name="button" class="btn btn-danger center-block"><i class="fa fa-times"></i> Unvalidate</button>
          {% else %}
          <button id="validate-{{ streamer.channelname }}" onclick="validateStreamer('{{streamer.channelname}}')" type="button" name="button" class="btn btn-success center-block"><i class="fa fa-check"></i> Validate</button>
          {% endif %}

          <h4>Summoners</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><i class="fa fa-ticket gold"></i> ID </th>
                  <th><i class="fa fa-flash gold"></i> Name </th>
                  <th class="text-center"><i class="fa fa-globe gold"></i> Region </th>
                  <th class="text-center"><i class="fa fa-trash gold"></i> Delete </th>
                </tr>
              </thead>
              <tbody>
                {% for summoner in streamer.summonerList %}
                <tr class="tr-with-button" data-toggle="tab" href="#tab{{streamer.channelname}}">
                  <td>{{ summoner.summonerid }}</td>
                  <td>{{ summoner.summonersname }}</td>
                  <td class="text-center">{{ summoner.region }}</td>
                  <td class="text-center"><button type="button" class="btn btn-danger" name="button"><i class="fa fa-trash"></button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
          <form data-toggle="validator" data-disable="false" onsubmit="return addSummoner('{{streamer.channelname}}')">
            <div class="form-group">
              <div class="col-xs-5">
                <input type="text" id="input-summoner-{{streamer.channelname}}" name="summonerName" class="form-control" placeholder="summonerName"required>
              </div>
              <div class="col-xs-5">
                <select class="form-control" id="input-region-{{streamer.channelname}}">
                  {% for region in region_list %}
                  <option value="{{ region.code }}">{{ region.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="col-xs-2 btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
          </form>
          </div>
        </div>
        {% endfor %}
        <br>
        <div class="alert alert-danger" id="summoner-error" style="display:none">
          <ul>
            <li><strong id="summoner-error-text"></strong></li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>
{% endblock %}

{% block JS %}
<!-- Pagination -->
<script src="/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<!-- AjaxRequest -->
<script src="/js/admin.js"></script>

{% endblock %}
