{% extends "base.html" %}

<!-- Title -->
{% block title %}FAQ{% endblock %}
{% block ogtitle %}FAQ{% endblock %}

<!-- Description -->
{% block description %}Do you have any question about StreamBet? Check out the frequently asked questions!{% endblock %}
{% block ogdescription %}Do you have any question about StreamBet? Check out the frequently asked questions!{% endblock %}

<!-- URL -->
{% block ogurl %}faq{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">

  <div class="content-box">

    <h1 class="text-center"><span class="gold bold">Frequently</span> asked questions</h1>

    <hr>

    <div class="panel-group" id="accordion">
      {% for question in faq %}
      <div class="panel">
        <div class="panel-heading panel-clickable">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ question.id }}">{{ question.title }}</a>
          </h4>
        </div>
        <div id="{{ question.id }}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              {{ question.text }}
            </p>
          </div>
        </div>
      </div><!-- panel -->
      {% endfor %}
    </div><!-- Panel group -->

  </div><!-- Content box -->
</div><!-- Container -->
{% endblock %}
