{% extends "base.html" %}

<!-- Title -->
{% block title %}Profil{% endblock %}
{% block ogtitle %}Profil{% endblock %}

<!-- Description -->
{% block description %}Check out and modify your personnal information!{% endblock %}
{% block ogdescription %}Check out and modify your personnal information!{% endblock %}

<!-- URL -->
{% block ogurl %}profil{% endblock %}

<!-- Nav -->
{% block profil %}class="active"{% endblock %}
{% block profil.m %}class="active"{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">

  <!-- Content -->
  <div class="content-box">

    <h1 class="text-center"><span class="gold bold">General</span> informations</h1>
    <hr>

    {% if error_list %}
    <div class="alert alert-danger" style="padding-left:0">
      <a href="#" style="color:black;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <ul>
      {% for error in error_list %}
        <li><strong>{{ error }}</strong></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!-- Account Informations -->
    <div class="panel">
      <div class="panel-heading">
        <i class="fa fa-user"></i> Account informations
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">

            <!-- Email INFO -->
            <div class="form-group" id="infoMail">
              <!-- Label & Edit mail -->
              <label style="width:100%;"><i class="fa fa-envelope gold"></i> Email
                <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputMail','infoMail')">
                  <i class="fa fa-pencil-square-o fa-lg"></i>
                </a>
              </label>
              <!-- info-->
              <p class="info">{{ user.email }}</p>
            </div>

            <!-- Email EDIT -->
            <form data-toggle="validator" role="form" method="post" action="" id="inputMail" style="display:none">
              <div class="form-group">
                <!-- Label & Cancel mail -->
                <label style="width:100%;" for="inputEmail" class="control-label"><i class="fa fa-envelope gold"></i> Email
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoMail','inputMail')">
                    <i class="fa fa-undo fa-lg"></i>
                  </a>
                </label>
                <!-- Input email -->
                <input class="form-control" data-error="Enter a valid email address." type="email" name="email" id="inputEmail" placeholder="example@email.com" value="{{ user.email }}" required>
                <!-- Error field -->
                <div class="help-block with-errors"></div>
                <button type="submit" name="email_edit" value="true" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
              </div>

            </form>

            <!-- Birth date INFO -->
            <div class="form-group" id="infoBirthdate">
              <!-- Label & Edit birth date -->
              <label style="width:100%;"><i class="fa fa-calendar gold"></i> Birth date
                <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputBirthdate','infoBirthdate')">
                  <i class="fa fa-pencil-square-o fa-lg"></i>
                </a>
              </label>
              <p class="info">{{ bDay }}</p>
            </div>

            <!-- Birth date EDIT -->
            <form data-toggle="validator" role="form" method="post" action="" id="inputBirthdate" style="display:none">
              <!-- Verify Age -->
              <div class="form-group">
                <label style="width:100%" class="control-label"><i class="fa fa-calendar gold"></i> Birth date
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoBirthdate','inputBirthdate')">
                    <i class="fa fa-undo fa-lg"></i>
                  </a>
                </label>
                <div class="row center-block" style="margin:0">
                  <!-- Day -->
                  <!-- TODO : only day -->
                  <div class="form-group col-xs-3" style="padding:0;margin:0;">
                    <input type="number" name="day" data-error="Invalid day" min="1" max="31" class="form-control text-center" id="inputDay" placeholder="dd" style="padding:0" value="{{ day }}" required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="col-xs-1 date-slash">/</div>

                  <!-- Month -->
                  <!-- TODO : only month -->
                  <div class="form-group col-xs-3" style="padding:0;margin:0;">
                    <input  type="number" name="month" data-error="Invalid month" min="1" max="12" class="form-control text-center" id="inputMonth" placeholder="mm"  style="padding:0" value="{{ month }}" required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="col-xs-1 date-slash">/</div>

                  <!-- Year -->
                  <!-- TODO : only year -->
                  <div class="form-group col-xs-4" style="padding:0;margin:0;">
                    <input type="number" name="year" data-error="Invalid year" min="1900" max="2015" class="form-control text-center" id="inputYear" placeholder="yyyy"  style="padding:0" value="{{ user.birthdate.getFullYear() }}" required>
                    <div class="help-block with-errors"></div>
                  </div>

                  <!-- Set min and max year -->
                  <script>
                  var year = new Date().getFullYear();
                  document.getElementById("inputYear").setAttribute("min", year-150 )
                  document.getElementById("inputYear").setAttribute("max", year )
                  </script>
                </div><!-- Row -->
                <button type="submit" name="birthdate_edit" value="true" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
              </div><!-- Form Group -->
            </form>

            <!-- StreamCoin -->
            <div class="form-group">
              <label><i class="fa fa-database gold"></i> Stream coin</label>
              <p class="info">{{ user.money }}</p>
            </div>

          </div><!-- col -->

          <div class="col-sm-6">

            <!-- Name -->
            <div class="form-group">
              <label><i class="fa fa-user gold"></i>  Name</label>
              <p class="info">{{ user.name }}</p>
            </div>
            <!-- Password -->
            <div class="form-group" id="infoPassword">
              <label style="width:100%;"><i class="fa fa-lock gold"></i> Password <a href="javascript:void(0)" class="pull-right" onclick="edit('inputPass','infoPassword')"><i class="fa fa-pencil-square-o fa-lg"></i></a></label>
              <p class="info">******</p>
            </div>

            <!-- Edit Password -->
            <form data-toggle="validator" role="form" method="post" action="" id="inputPass" style="display:none">
              <!-- Password -->
              <div class="form-group">
                <label style="width:100%" for="inputPassword" class="control-label"><i class="fa fa-lock gold"></i> Password <a href="javascript:void(0)" class="pull-right" onclick="cancel('infoPassword','inputPass')"><i class="fa fa-undo fa-lg"></i></a></label>
                <input type="password" name="password" data-error="Minimum of 3 characters" data-minlength="3" class="form-control" id="inputPassword" placeholder="New password" required>
                <div class="help-block with-errors"></div>
              </div>

              <!-- Confirm Password -->
              <div class="form-group">
                <label for="inputPassword2" class="control-label"><i class="fa fa-lock gold"></i> Confirm password</label>
                <input type="password" name="confirm" data-error="Passwords doesn't match" data-match="#inputPassword" class="form-control" id="inputPassword2" placeholder="Confirm" required>
                <div class="help-block with-errors"></div>
              </div>

              <button type="submit" name="password_edit" value="true" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
            </form>

          </div><!-- col -->
        </div><!-- Row -->
        <!--<button class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>-->
      </div>
    </div>

    <!-- Statictics -->
    <div class="panel">
      <div class="panel-heading">
        <i class="fa fa-line-chart"></i> Statistics
      </div>
      <div class="panel-body">
        Coming Soon ...
      </div>

    </div>

    <!-- Bet history -->
    <div class="panel">
      <div class="panel-heading">
        <i class="fa fa-list"></i> Bet history
      </div>
      <div class="panel-body">
        Coming Soon ...
      </div>

    </div>

  </div><!-- Content box -->


</div>
{% endblock %}

<!--
      _  _____
     | |/ ____|
     | | (___
 _   | |\___ \
| |__| |____) |
 \____/|_____/


-->

{% block JS %}
<!-- Edit account -->
<script src="js/edit_account.js"></script>
<!-- Add Streamer js TODO add this when we use the add streamer
<script src="js/add_streamer.js"></script>
-->
{% endblock %}
