{% extends "base.html" %}

<!-- Title -->
{% block title %}Ranking{% endblock %}
{% block ogtitle %}Ranking{% endblock %}

<!-- Description -->
{% block description %}Check out the best ranked user on StreamBet!{% endblock %}
{% block ogdescription %}Check out the best ranked user on StreamBet!{% endblock %}

<!-- URL -->
{% block ogurl %}ranking{% endblock %}


<!-- Nav -->
{% block ranking %}class="active"{% endblock %}


<!-- Content -->
{% block content %}
<div class="container-fluid">
  <div class="content-box center-box">

    <h1 class="text-center"><span class="gold bold">Top</span> players</h1>
    <hr>

    <ol>
      {% for player in player_list %}
      <li style="height:30px;line-height:30px;">
        {{ player.profil.name }}
        <span class="pull-right" style="height:30px;">
          {{ player.profil.elo }}
          <img src="lolbet/img/rank/{{player.profil.division}}.png" width="30" alt="rank">
        </span>
      </li>
      {% endfor %}
    </ol>

  </div>
</div>
{% endblock %}
