{% extends "base.html" %}

<!-- Title -->
{% block title %}Recover account{% endblock %}
{% block ogtitle %}Recover account{% endblock %}

<!-- Description -->
{% block description %}Lost your password? Enter your mail and reset your password{% endblock %}
{% block ogdescription %}Lost your password? Enter your mail and reset your password{% endblock %}

<!-- URL -->
{% block ogurl %}recover{% endblock %}


<!-- Content -->
{% block content %}
<div class="container-fluid">

  <div class="content-box center-box" id="contentbox">

    <h1 class="text-center"><span class="gold bold">Recover</span> account</h1>
    <hr>

    {% if error_list %}
    <div class="alert alert-danger" style="padding-left:0">
      <ul>
      {% for error in error_list %}
        <li><strong>{{ error }}</strong></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <form data-toggle="validator" role="form" method="post" action="TODO">

      <!-- Username -->
      <div class="form-group">
        <label for="inputUsername" class="control-label"><i class="fa fa-user gold"></i> Email</label>
        <input type="email" name="email" data-error="Enter your Email" class="form-control" id="inputEmail" placeholder="Email" value="{{ email }}" required>
        <div class="help-block with-errors"></div>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <button type="submit" class="btn btn-login center-block" style="margin-top: 30px;"><i class="fa fa-key fa-lg"></i> Recover</button>
        <ul class="pull-right nodeco">
          <a class="pull-right lolbet" style="margin-top:4px" href="/login">Oh I remember now !</a>
        </ul>
      </div>


    </form>
  </div>

</div>
{% endblock %}
