{% extends "base.html" %}

<!-- Title -->
{% block title %}Requested Streamers{% endblock %}
{% block ogtitle %}Requested Streamers{% endblock %}

<!-- Description -->
{% block description %}Your favorite streamer isn't part of the website yet? Request it !{% endblock %}
{% block ogdescription %}Your favorite streamer isn't part of the website yet? Request it !{% endblock %}

<!-- URL -->
{% block ogurl %}requests{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">

  <div class="content-box">
    <h1 class="text-center"><span class="gold">Req</span>uests</h1>
    <hr>

    <!-- Streamer list -->
    <ul class="streamer-list">
      {% for streamer in "12345" %}
      <li class="list">
        <div class="row">
          <div class="col-sm-1 col-xs-2" style="padding:0;">
            <span class="vote">
              <div class="text-center increment up" id="arrowUp-{{ streamer.channelname }}" onclick="voteStreamer('{{ streamer.channelname }}',true)"><i class="fa fa-2x fa-caret-up"></i></div>
              <div class="text-center count" id="count-{{ streamer.channelname }}">{{ streamer.score }}</div>
              <div class="text-center increment down" id="arrowDown-{{ streamer.channelname }}" onclick="voteStreamer('{{ streamer.channelname }}',false)"><i class="fa fa-2x fa-caret-down"></i></div>
            </span>
          </div>
          <div class="col-sm-11 col-xs-10" style="">
            {{ streamer.name }}
            <br>
            <span class="twitch-text">https://www.twitch.tv/</span>{{ streamer.channelname }}
            <br>
            <button class="btn btn-request" data-toggle="collapse" data-target="#c{{e}}"><i class="fa fa-angle-down"></i> Summoners</button>
            <div id="c{{e}}" class="collapse">
              <ul class="summoner-list">
                {% for summoner in "123" %}
                <li class="list">
                  <div class="row">
                    <div class="col-sm-1 col-xs-2" style="padding: 0;">
                      <span class="vote">
                        <div class="text-center increment up" id="arrowUp-summ-{{ summoner.summonerid }}-{{ summoner.region }}" onclick="voteSummoner('{{ summoner.summonerid }}-{{ summoner.region }}',true)"><i class="fa fa fa-caret-up"></i></div>
                        <div class="text-center count" id="count-summ-{{ summoner.summonerid }}-{{ summoner.region }}">{{ summoner.score }}</div>
                        <div class="text-center increment down" id="arrowDown-summ-{{ summoner.summonerid }}-{{ summoner.region }}" onclick="voteSummoner('{{ summoner.summonerid }}-{{ summoner.region }}',false)"><i class="fa fa fa-caret-down"></i></div>
                      </span>
                    </div>
                    <div class="col-sm-11 col-xs-10" style="padding-top:19.5px;">
                      {{ summoner.summonersname }} ({{ summoner.region }})
                    </div>
                  </div>
                </li>
                {% endfor %}
                <li class="list">
                  <form data-toggle="validator" role="form" data-disable="false" method="post" action="/TODO">
                    <div class="row">
                      <div class="col-sm-1 col-xs-2">
                        <button class="btn btn-lolbet center-block" style="margin-top:9px" type="submit"><i class="fa fa-plus"></i></button>
                      </div>
                      <div class="col-sm-11 col-xs-10" style="max-width:600px;">
                        <div class="form-group" style="margin-bottom:0;margin-top:9px;">
                          <div class="row" >
                            <!-- Summoner Name -->
                            <div class="form-group col-sm-6" style="margin-bottom:0">
                              <input type="text" data-error="Enter summoner name" class="form-control" id="inputSummonerName" placeholder="Summoner name" required>
                              <div class="help-block with-errors"></div>
                            </div>
                            <!-- Region Name -->
                            <div class="form-group col-sm-6" style="margin-bottom:0">
                              <select class="form-control">
                                {% for region in region_list %}
                                <option value="{{ region.code }}">{{ region.name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </li>
              </ul> <!-- Summoner list -->
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul><!-- Streamer List -->

    <button class="btn btn-join center-block" style="margin-top:20px;" data-toggle="modal" data-target="#modal-request" type="button" name="button">Add Streamer</button>
  </div>



  <!-- MODAL -->
  <!-- Add streamer modal -->
	<div class="modal" id="modal-request" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class=" text-center modal-title"><span class="gold">Requested</span> summoners</h3>
				</div>
				<div class="modal-body">
          <form data-toggle="validator" id="ajaxform" name="ajaxform" action="/add-streamer" method="post" role="form">

            <!-- Channel Name -->
            <div class="form-group">
              <label for="inputchannelName" class="control-label">Channel name</label>
              <div class="input-group">
                <span class="input-group-addon twitch">twitch.tv/</span>
                <input type="text" name="channelName" data-error="Enter a channel name" class="form-control" id="inputchannelName" placeholder="Channel name" required>
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <!-- Summoner Template -->
            <div class="form-group" id="summoner_template" style="display:none;">
              <label class="control-label" style="width:100%;">Summoner <span id="summonerNumber"></span></label>
              <div class="row" >
                <!-- Summoner Name -->
                <div class="form-group col-sm-6" style="margin-bottom:0">
                  <input type="text" name="summonerName" data-error="Enter summoner name" class="form-control" id="inputSummonerName" placeholder="Summoner name" required>
                  <div class="help-block with-errors"></div>
                </div>

                <!-- Region Name -->
                <div class="form-group col-sm-6" style="margin-bottom:0">
                  <select name="regionCode" class="form-control">
                    {% for region in region_list %}
                    <option value="{{ region.code }}">{{ region.name }}</option>
                    {% endfor %}
                  </select>

                </div>
              </div>
            </div>

            <!-- List containing the summoners of the streamer -->
            <div id="summonerList">
            </div>

            <!-- Add or remove summoners -->
            <div class="form-group text-center">
              <button type="button" class="btn btn-lolbet" onclick="addSummoner()" ><i class="fa fa-plus fa-lg"></i></button>
              <button type="button" class="btn btn-lolbet" onclick="deleteSummoner()" ><i class="fa fa-minus fa-lg"></i></button>
            </div>

            <!-- Submit -->
            <div class="form-group">
              <button type="submit" class="btn btn-default center-block" style="margin-top:30px;"><i class="fa fa-envelope fa-lg"></i> Send request</button>
            </div>

          </form>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block JS %}
<!-- Add Streamer js -->
<script src="/js/add_streamer.js"></script>
<script src="/js/vote_requests.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#ajaxform").validator().on('submit', function(e){
    if(e.isDefaultPrevented()){
      //do nothing
    }else{
      var data = $(this).serializeArray();
    	var formURL = $(this).attr("action");
      $.post(formURL,data,function(data, status){
        if(data.success){
          alert("todo redirect same page");
        }else{
          alert(data.error_list);
        }
      });
      e.preventDefault();	//STOP default action
    }
  });

});
</script>

  {% endblock %}
