{% extends "base.html" %}

{% block title %}Pick your streamer and start betting{% endblock %}
{% block ogtitle %}Pick your streamer and start betting{% endblock %}

<!-- URL -->
{% block ogurl %}{% endblock %}



<!-- Content -->
{% block content %}
<div class="container-fluid">
  <!-- Stream Wall for large screen -->
  <div class="block-grid-lg-5 block-grid-md-4 block-grid-sm-3 block-grid-xs-2 block-grid">

    {% for streamer in streamer_list %}
    <div class="block-grid-item">
        <div class="imagehover img-hover">
          <a href="/stream/{{ streamer.channelname }}">
          <img src="{{ streamer.preview }}" alt="Channel Preview">
          <div class="texthover">
            <p><i class="fa fa-play fa-lg"></i></p>
          </div>
          </a>
          <p class="stream-info">{{ streamer.name }} <span class="pull-right"><span class="numbers">{{ streamer.viewers }}</span> <i class="fa fa-user"></i></span></p>
        </div>
    </div>
    {% endfor %}

    {% if isAuthenticated %}
    <div class="block-grid-item">
        <div class="imagehover img-hover">
          <a href="/requests">
          <img src="/img/new.png" alt="">
          <div class="texthover">
            <p><i class="fa fa-plus fa-lg"></i></p>
          </div>
          </a>
          <p class="text-center stream-info">Add a Streamer</p>
        </div>
      </div>
      {% endif %}

  </div><!-- Block Grid -->



  <!-- Stream Wall for small screen -->
  <div class="block-column">

    {% for streamer in streamer_list %}
    <div class="center-block" style="padding:10px">
        <div class="imagehover img-hover">
          <a href="/stream/{{ streamer.channelname }}">
          <img src="{{ streamer.preview}}" alt="Channel Preview">
          <div class="texthover">
            <p><i class="fa fa-play fa-lg"></i></p>
          </div>
          </a>
          <p class="stream-info">{{ streamer.name }} <span class="pull-right"><span class="numbers">{{ streamer.viewers }}</span> <i class="fa fa-user"></i></span></p>
        </div>
    </div>
    {% endfor %}

    {% if isAuthenticated %}
    <div class="center-block" style="padding:10px">
        <div class="imagehover img-hover">
          <a href="/requests">
          <img src="/img/new.png" alt="">
          <div class="texthover">
            <p><i class="fa fa-plus fa-lg"></i></p>
          </div>
          </a>
          <p class="text-center stream-info">Add a Streamer</p>
        </div>
      </div>
      {% endif %}

  </div><!-- Block Column -->


</div>
{% endblock %}

{% block JS %}
<script type="text/javascript">
$.fn.digits = function(){
  return this.each(function(){
      $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
  })
}

$("span.numbers").digits();
</script>
{% endblock %}
