{% extends "base.html" %}

<!-- Title -->
{% block title %}{{streamer.channelName}}{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">
	<!-- Stream and Bet -->
	<div class="row">

		<!-- Stream section -->
		<div class=" col-lg-8 col-lg-push-2 col-md-8 col-md-push-2" id="stream">
			<div class="panel">
				<div class="panel-heading text-center"><i class="fa fa-bolt"></i> {{streamer.name}} <span id="streamer-info" style="display:none"></span> <i class="fa fa-bolt"></i></div>
				<div class="panel-body panel-body-empty">
					<div class="aspect-ratio-16-9">
						<!-- TODO remove a -->
						<iframe class="element-to-stretch" src="http://www.twitch.tv/{{streamer.channelName}}a/embed" width="100%" height="100%" id="stream"></iframe>
					</div>
				</div>
			</div>

			<div class="panel" id="looking" >
				<div class="panel-heading">
					<i class="fa fa-search"></i> Looking for a ranked solo queue
				</div>
				<div class="panel-body">
					<!-- Loading animation while no bet to show -->
					<div id="looking">
						<p class="text-center">
							<!-- TODO summoner name -->
						</p>
						<div class="spinner">
						  <div class="double-bounce1"></div>
						  <div class="double-bounce2"></div>
						</div>
					</div>
				</div>
			</div><!-- Looking -->

			<div class="panel" id="bet-info" style="display:none;">
				<div class="panel-heading">
					<i class="fa fa-database"></i> Bet Info <span class="pull-right" id="chronotime">00:00</span>
				</div>
				<div class="panel-body">
					<!-- Current bet info -->
					<div class="row">
						<!-- Bet on red -->
						<div class="col-xs-3">
							<button class="btn btn-bet btn-bet-red center-block" data-toggle="modal" data-target="#modal-red">Go Red !</button>
							<div class="text-center" style="display:none">
								<h4>Red <span class="gold">Wins</span></h4>
								<p>
									<span id="red-gain"></span> <i class="fa gold fa-database"></i>
								</p>
							</div>
						</div>
						<div class="col-xs-6">
							<!-- Bet amount -->
							<div class="row">
								<div class="col-xs-6 col-sm-5 col-sm-offset-1">
									<span id="amount-red"></span> <i class="fa gold fa-database"></i>
								</div>
								<div class="col-xs-6 col-sm-5" style="text-align:right;">
									<span id="amount-blue"></span> <i class="fa gold fa-database"></i>
								</div>
								<div class="col-xs-1"></div>
							</div>
							<!-- Progress bar -->
							<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar progress-bar-red" role="progressbar" style="width:50%">
								</div>
								<div class="progress-bar progress-bar-blue" role="progressbar" style="width:50%">
								</div>
							</div>
						</div><!-- col -->
						<!-- Bet on blue -->
						<div class="col-xs-3">
							<button class="btn btn-bet btn-bet-blue center-block" data-toggle="modal" data-target="#modal-blue">Go Blue !</button>
							<div class="text-center" style="display:none">
								<h4>Blue <span class="gold">Wins</span></h4>
								<p>
									<span id="blue-gain"></span> <i class="fa gold fa-database"></i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- BET -->

		</div><!-- Col -->

		<!-- Red Team section -->
		<div class="col-lg-2 col-lg-pull-8 col-md-2 col-xs-6 col-md-pull-8 col-left">
			<div class="panel panel-red" id="team-red" style="display:none">

				<div class="panel-heading">Red Team</div>
				<div class="panel-body panel-body-empty">

					<ul id="red-list" class="sortable-list">
						{% for e in "12345" %}
						<li>
							<div class="champion champion-left" >
								<img class="img-background img-responsive center-block picture-red" src="" alt="">
								<h4><a class="summonerName-red" href="http://www.lolking.net/" target="_blank"></a></h4>
								<img class="rank rank-red" src="/img/rank/diamond.png" alt="">
								<img class="mastery img-rounded mastery-red" src="" alt="">
								<img class="summoner1 img-rounded spell1-red" src="" alt="">
								<img class="summoner2 img-rounded spell2-red" src="" alt="">
							</div>
						</li>
						{% endfor %}
					</ul>

				</div>
			</div>
		</div>

		<!-- Blue Team section -->
		<div class="col-lg-2 col-md-2 col-xs-6 col-right">
			<div class="panel panel-blue" id="team-blue" style="display:none">

				<div class="panel-heading">Blue Team</div>
				<div class="panel-body panel-body-empty">

					<ul id="blue-list" class="sortable-list">
						{% for e in "12345" %}
						<li>
							<div class="champion champion-right">
								<img class="img-background img-responsive center-block picture-blue" src="" alt="">
								<h4><a class="summonerName-blue" href="http://www.lolking.net/" target="_blank"></a></h4>
								<img class="rank rank-blue" src="/img/rank/diamond.png" alt="">
								<img class="mastery img-rounded mastery-blue" src="" alt="">
								<img class="summoner1 img-rounded spell1-blue" src="" alt="">
								<img class="summoner2 img-rounded spell2-blue" src="" alt="">
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	</div><!-- Stream and bet -->

<!--
	__  __           _       _
 |  \/  |         | |     | |
 | \  / | ___   __| | __ _| |
 | |\/| |/ _ \ / _` |/ _` | |
 | |  | | (_) | (_| | (_| | |
 |_|  |_|\___/ \__,_|\__,_|_|
-->


	<!-- Red Modal -->
	  <div class="modal" id="modal-red" role="dialog">
	    <div class="modal-dialog modal-sm">

	      <!-- Modal content-->
	      <div class="modal-content modal-content-red">
	        <div class="modal-header modal-header-red">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Bet on Red</h4>
	        </div>
	        <div class="modal-body">
				<div id="red-bet-body">
					<div class="form-group center-block text-center" style="max-width:100px;">
						<label for="amount-red">Amount:</label>
						<select class="form-control" id="select-red">
							{% for x in bet_range %}
							<option value="{{x}}">{{x}}</option>
							{% endfor %}
						</select>
					</div>

				  <ul class="list-inline text-center">
				  	<li><button class="btn btn-lolbet" onclick="betRed()">Confirm</button></li>
				  	<li><button class="btn btn-lolbet" data-dismiss="modal" id="dismiss-red-modal">Cancel</button></li>
				  </ul>
				</div>
				<div id="red-bet-loading" style="display:none;">
					<div class="spinner">
					  <div class="double-bounce1"></div>
					  <div class="double-bounce2"></div>
					</div>
				</div>
				<div id="red-bet-message" style="display:none;">

				</div>
	        </div>
	      </div>



	    </div>
	  </div> <!-- Red Modal -->

	  <!-- Blue Modal -->
	  <div class="modal" id="modal-blue" role="dialog">
	    <div class="modal-dialog modal-sm" >

	      <!-- Modal content-->
	      <div class="modal-content modal-content-blue">
	        <div class="modal-header modal-header-blue">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Bet on Blue</h4>
	        </div>
	        <div class="modal-body">
	        	<div id="blue-bet-body">
	        		<div class="form-group center-block text-center" style="max-width:100px;">
						<label for="amount-blue">Amount:</label>
						<select class="form-control" id="select-blue">
							{% for x in bet_range %}
							<option value="{{x}}">{{x}}</option>
							{% endfor %}
						</select>
					</div>

		          <ul class="list-inline text-center">
			      	<li><button class="btn btn-lolbet" onclick="betBlue()">Confirm</button></li>
			      	<li><button class="btn btn-lolbet" data-dismiss="modal" id="dismiss-blue-modal">Cancel</button></li>
			      </ul>
	        	</div>

				<div id="blue-bet-loading" style="display:none;">
					<div class="spinner">
					  <div class="double-bounce1"></div>
					  <div class="double-bounce2"></div>
					</div>
				</div>
				<div id="blue-bet-message" style="display:none;">

				</div>
	        </div>
	      </div>



	    </div>
	  </div> <!-- Blue Modal -->


</div><!-- Container -->
{% endblock %}


{% block JS %}

<!-- Socket IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Local Variable -->
<script>
	var channel_name = '{{streamer.channelName}}';
</script>

<!-- Realtime behavior -->
<script src="/js/stream_socket.js"></script>

<!-- Chrono -->
<script src="/js/chrono.js"></script>

<!-- Quotes animation not IG -->
<script src="/js/quotes-animation.js"></script>

<!-- Sortable Jquery -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/js/sortable.js"></script>
{% endblock %}
