{% extends "base.html" %}

<!-- Title -->
{% block title %}{{streamer.channelname}}{% endblock %}
{% block ogtitle %}{{streamer.channelname}}{% endblock %}

<!-- URL -->
{% block ogurl %}stream/{{streamer.channelname}}{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">

	<!-- Stream and Bet -->
	<div class="row">

		<!-- Stream section -->
		<div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2" id="stream">
			<div class="panel">
				<div class="panel-heading" style="position:relative;">
					<i class="fa fa-video-camera"></i> {{streamer.name}} <span id="streamer-info" style="display:none"></span>
					<button class="btn btn-lolbet" style="padding:-top:0;padding-bottom:0;position:absolute;top:4px;right:4px;bottom:4px;" type="button" name="button" onclick="twitchChat('http://www.twitch.tv/{{streamer.channelname}}/chat?popout=')">
						<img src="https://static-cdn.jtvnw.net/emoticons/v1/62837/1.0" width="25" alt="Twitch" /> Chat
					</button>
				</div>
				<div class="panel-body panel-body-empty">
					<div class="aspect-ratio-16-9">
						<iframe class="element-to-stretch" allowfullscreen webkitallowfullscreen mozallowfullscreen src="http://www.twitch.tv/{{streamer.channelname}}/embed" width="100%" height="100%" id="stream"></iframe>
					</div>
				</div>
			</div>

			<div class="panel" id="looking">
				<div class="panel-heading" style="position:relative;">
					<i class="fa fa-search"></i> Looking for a ranked solo queue
				</div>
				<div class="panel-body">
					<!-- Loading animation while no bet to show -->
					<div id="looking">
						<p class="text-center">
							<!-- If no summoner -->
							{% if summonersList.length == 0 %}
							<span style="color:red;">( no summoners registered for "{{streamer.name}}" ) </span>
							<!-- If only 1 summoner -->
							{% elseif summonersList.length == 1 %} {% for summoner in summonersList %}
							<span class="quote">{{summoner.summonersname}} ({{summoner.region|upper}})</span> {% endfor %} {% else %}
							<!-- If more than 1 summoner -->
							{% for summoner in summonersList %}
							<span class="quotes">{{summoner.summonersname}} ({{summoner.region|upper}})</span> {% endfor %} {% endif %}
						</p>
						<div class="spinner">
							<div class="double-bounce1"></div>
							<div class="double-bounce2"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Looking -->

			<div class="panel" id="bet-info" style="display:none;">
				<div class="panel-heading">
					<i class="fa fa-database"></i> Bet Info <span class="pull-right" id="chronotime">00:00</span>
				</div>
				<div class="panel-body">
					<!-- Current bet info -->
					<div class="row">
						<!-- Bet on red -->
						<div class="col-xs-3">
							<button id="button-left" class="btn btn-bet btn-bet-red center-block" onclick="redModal()">Go Red !</button>
							<div id="potential-left" class="text-center" style="display:none">
								<h4><span id="team-color-left">Red</span> <span class="gold">Wins</span></h4>
								<p>
									<span id="gain-left"></span> <i class="fa gold fa-database"></i>
								</p>
							</div>
						</div>
						<div class="col-xs-6">
							<!-- Bet amount -->
							<div class="row">
								<div class="col-xs-6 col-sm-5 col-sm-offset-1">
									<span id="amount-red"></span> <i class="fa gold fa-database"></i>
								</div>
								<div class="col-xs-6 col-sm-5" style="text-align:right;">
									<span id="amount-blue"></span> <i class="fa gold fa-database"></i>
								</div>
								<div class="col-xs-1"></div>
							</div>
							<!-- Progress bar -->
							<div class="progress" style="margin-bottom: 0;">
								<div id="progress-left" class="progress-bar progress-bar-red" role="progressbar" style="width:50%">
								</div>
								<div id="progress-right" class="progress-bar progress-bar-blue" role="progressbar" style="width:50%">
								</div>
							</div>
						</div>
						<!-- col -->
						<!-- Bet on blue -->
						<div class="col-xs-3">
							<button id="button-right" class="btn btn-bet btn-bet-blue center-block" onclick="blueModal()">Go Blue !</button>
							<div id="potential-right" class="text-center" style="display:none">
								<h4><span id="team-color-right">Blue</span> <span class="gold">Wins</span></h4>
								<p>
									<span id="gain-right"></span> <i class="fa gold fa-database"></i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BET -->

		</div>
		<!-- Col -->

		<!-- Red Team section -->
		<div class="col-lg-2 col-lg-pull-8 col-md-2 col-xs-6 col-md-pull-8 col-left" id="block-left">
			<div class="panel panel-red" id="team-left" style="display:none">

				<div class="panel-heading" id="team-name-left">Red Team</div>
				<div class="panel-body panel-body-empty">

					<ul id="red-list" class="sortable-list">
						{% for e in "12345" %}
						<li>
							<div class="champion champion-left champion-red">
								<img class="img-background img-responsive center-block picture-left" src="" alt="">
								<h4><a class="summonerName-left" title="" href="http://www.lolking.net/" target="_blank"></a></h4>
								<img class="rank rank-left" src="" alt="">
								<img class="mastery img-rounded mastery-left" src="" alt="">
								<img class="summoner1 img-rounded spell1-left" src="" alt="">
								<img class="summoner2 img-rounded spell2-left" src="" alt="">
							</div>
						</li>
						{% endfor %}
					</ul>

				</div>
			</div>
		</div>

		<!-- Blue Team section -->
		<div class="col-lg-2 col-md-2 col-xs-6 col-right" id="block-right">
			<div class="panel panel-blue" id="team-right" style="display:none">

				<div class="panel-heading" id="team-name-right">Blue Team</div>
				<div class="panel-body panel-body-empty">

					<ul id="blue-list" class="sortable-list">
						{% for e in "12345" %}
						<li>
							<div class="champion champion-right champion-blue">
								<img class="img-background img-responsive center-block picture-right" src="" alt="">
								<h4><a class="summonerName-right" title="" href="http://www.lolking.net/" target="_blank"></a></h4>
								<img class="rank rank-right" src="" alt="">
								<img class="mastery img-rounded mastery-right" src="" alt="">
								<img class="summoner1 img-rounded spell1-right" src="" alt="">
								<img class="summoner2 img-rounded spell2-right" src="" alt="">
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!-- Stream and bet -->


	<!--
 __  __           _       _
|  \/  |         | |     | |
| \  / | ___   __| | __ _| |
| |\/| |/ _ \ / _` |/ _` | |
| |  | | (_) | (_| | (_| | |
|_|  |_|\___/ \__,_|\__,_|_|
-->

	<!-- Win modal -->
	<div id="WinModal" class="modal" data-easein="bounceIn" tabindex="-1" role="dialog" aria-labelledby="WinAnimation" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class=" text-center modal-title"><span class="gold">Congrat</span>ulation !</h3>
				</div>
				<div class="modal-body">
					<h4 class="text-center">You won <span class="gold" id="wonAmount"></span> <i class="fa fa-database gold"></i> !</h4>
					<button class="center-block btn btn-lolbet" style="margin-top:15px;" data-dismiss="modal" aria-hidden="true">Ok !</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Lose modal -->
	<div id="LoseModal" class="modal" data-easein="slideDownIn" tabindex="-1" role="dialog" aria-labelledby="LoseAnimation" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class=" text-center modal-title"><span class="gold">Oh</span> no ...</h3>
				</div>
				<div class="modal-body">
					<h4 class="text-center">You lost <span class="gold" id="lostAmount"></span> <i class="fa fa-database gold"></i></h4>
					<button class="center-block btn btn-lolbet" style="margin-top:15px;" data-dismiss="modal" aria-hidden="true">Ok</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Red Modal -->
	<div class="modal" id="modal-red" role="dialog">
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content modal-content-red">
				<div class="modal-header modal-header-red">
					<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
					<h4 class="modal-title">Bet on Red</h4>
				</div>
				<div class="modal-body">
					<!-- Connection window -->
					<div id="bet-connect-red" style="display:none;">
						<p class="text-center" style="color:white;">
							You need to be logged in to bet.
						</p>
						<ul class="list-inline text-center">
							<li>
								<button class="btn navbar-btn btn-signup" onclick="location.href='/signup';"><i class="fa fa-user-plus fa-lg"></i> Sign Up</button>
							</li>
							<li>
								<button class="btn navbar-btn btn-login" onclick="location.href='/login';"><i class="fa fa-sign-in fa-lg"></i> Login</button>
							</li>
						</ul>
						<button class="btn btn-lolbet center-block" data-dismiss="modal" id="dismiss-red-modal">Cancel</button>

					</div>
					<!-- Bet window -->
					<div id="bet-body-red">
						<div class="form-group center-block text-center" style="max-width:100px;">
							<label for="amount-red">Amount:</label>
							<select class="form-control" id="select-red">
								{% for x in bet_range %}
								<option value="{{x}}">{{x}}</option>
								{% endfor %}
							</select>
						</div>

						<ul class="list-inline text-center">
							<li>
								<button class="btn btn-lolbet" onclick="betRed()">Confirm</button>
							</li>
							<li>
								<button class="btn btn-lolbet" data-dismiss="modal" id="dismiss-red-modal">Cancel</button>
							</li>
						</ul>
					</div>

					<!-- Loading window -->
					<div id="bet-loading-red" style="display:none;">
						<div class="spinner">
							<div class="double-bounce1"></div>
							<div class="double-bounce2"></div>
						</div>
					</div>

					<!-- Message window -->
					<div id="bet-message-red" style="display:none;">
						<div id="error-red" class="alert alert-danger" style="display:none;">
							<strong><span id="error-msg-red"></span></strong>
						</div>
						<div class="text-center" id="success-red">
							<i class="fa fa-check fa-4x gold"></i>
						</div>
						<button class="center-block btn btn-lolbet" data-dismiss="modal" style="margin-top:20px;" id="dismiss-red-modal">Confirm</button>
					</div>
				</div>
			</div>



		</div>
	</div>
	<!-- Red Modal -->

	<!-- Blue Modal -->
	<div class="modal" id="modal-blue" role="dialog">
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content modal-content-blue">
				<div class="modal-header modal-header-blue">
					<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
					<h4 class="modal-title">Bet on Blue</h4>
				</div>
				<div class="modal-body">
					<!-- Connection window -->
					<div id="bet-connect-blue" style="display:none;">
						<p class="text-center" style="color:white;">
							You need to be logged in to bet.
						</p>
						<ul class="list-inline text-center">
							<li>
								<button class="btn navbar-btn btn-signup" onclick="location.href='/signup';"><i class="fa fa-user-plus fa-lg"></i> Sign Up</button>
							</li>
							<li>
								<button class="btn navbar-btn btn-login" onclick="location.href='/login';"><i class="fa fa-sign-in fa-lg"></i> Login</button>
							</li>
						</ul>
						<button class="btn btn-lolbet center-block" data-dismiss="modal" id="dismiss-red-modal">Cancel</button>

					</div>

					<!-- Bet window -->
					<div id="bet-body-blue">
						<div class="form-group center-block text-center" style="max-width:100px;">
							<label for="amount-blue">Amount:</label>
							<select class="form-control" id="select-blue">
								{% for x in bet_range %}
								<option value="{{x}}">{{x}}</option>
								{% endfor %}
							</select>
						</div>

						<ul class="list-inline text-center">
							<li>
								<button class="btn btn-lolbet" onclick="betBlue()">Confirm</button>
							</li>
							<li>
								<button class="btn btn-lolbet" data-dismiss="modal" id="dismiss-blue-modal">Cancel</button>
							</li>
						</ul>
					</div>

					<!-- Loading window -->
					<div id="bet-loading-blue" style="display:none;">
						<div class="spinner">
							<div class="double-bounce1"></div>
							<div class="double-bounce2"></div>
						</div>
					</div>

					<!-- Message window -->
					<div id="bet-message-blue" style="display:none;">
						<div id="error-blue" class="alert alert-danger" style="display:none;">
							<strong><span id="error-msg-blue"></span></strong>
						</div>
						<div class="text-center" id="success-blue">
							<i class="fa fa-check fa-4x gold"></i>
						</div>
						<button class="center-block btn btn-lolbet" data-dismiss="modal" style="margin-top:20px;" id="dismiss-blue-modal">Confirm</button>
					</div>
				</div>
			</div>



		</div>
	</div>
	<!-- Blue Modal -->


</div>
<!-- Container -->
{% endblock %} {% block JS %}
<!-- Socket IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Local Variable -->
<script>
	var channel_name = '{{streamer.channelname}}';
	var userStreamCoin = parseInt('{{ user.money }}');
	var isAuthenticated = {{isAuthenticated}};
</script>

<!-- Realtime behavior -->
<script src="/js/stream_variables.js"></script>
<script src="/js/stream_views.js"></script>
<script src="/js/stream_game.js"></script>
<script src="/js/stream_bet.js"></script>
<script src="/js/stream_socket.js"></script>

<!-- Chrono -->
<script src="/js/chrono.js"></script>

<!-- Quotes animation not IG -->
<script src="/js/quotes-animation.js"></script>

<!-- Sortable Jquery -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/js/sortable.js"></script>

<!-- Win and Lose animation -->
<script type='text/javascript' src='/js/velocity.min.js'></script>
<script type="text/javascript" src="/js/velocity.ui.min.js"></script>
<script type="text/javascript" src="/js/modal-animation.js"></script>
{% endblock %}
