{% extends "base.html" %}

<!-- Title -->
{% block title %}Profil{% endblock %}

<!-- Nav -->
{% block profil %}class="active"{% endblock %}
{% block profil.m %}class="active"{% endblock %}

<!-- Content -->
{% block content %}
{% load static from staticfiles %}
<div class="container">

  <!--
    _   _             _             _   _             
   | \ | |           (_)           | | (_)            
   |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __  
   | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
   | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
   |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                         __/ |                        
                        |___/                         
  -->
  
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="tab" href="#info">
      <i class="fa fa-info-circle fa-lg"></i> <span class="hidden-xs">Informations</span>
    </a></li>
    <li><a data-toggle="tab" href="#rank">
      <i class="fa fa-trophy fa-lg"></i> <span class="hidden-xs">My ranks</span>
    </a></li>
    <li><a data-toggle="tab" href="#settings">
      <i class="fa fa-cog fa-lg"></i> <span class="hidden-xs">Settings</span>
    </a></li>
    <li><a data-toggle="tab" href="#request">
      <i class="fa fa-plus-circle fa-lg"></i> <span class="hidden-xs">Requests</span>
    </a></li>
  </ul>

  <!-- Content -->
  <div class="content-box tab-content">

    <!--
      _____        __                           _   _                 
     |_   _|      / _|                         | | (_)                
       | |  _ __ | |_ ___  _ __ _ __ ___   __ _| |_ _  ___  _ __  ___ 
       | | | '_ \|  _/ _ \| '__| '_ ` _ \ / _` | __| |/ _ \| '_ \/ __|
      _| |_| | | | || (_) | |  | | | | | | (_| | |_| | (_) | | | \__ \
     |_____|_| |_|_| \___/|_|  |_| |_| |_|\__,_|\__|_|\___/|_| |_|___/

    -->

    <!-- General informations -->
    <div class="tab-pane in active" id="info">
      <h3><i class="fa fa-info-circle gold"></i> <span class="gold">General</span> informations</h3>
      <hr>
      
      <!-- Account Informations -->
      <div class="panel">
        <div class="panel-heading">
          <i class="fa fa-user"></i> Account informations
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">

              <!-- Email INFO -->
              <div class="form-group" id="infoMail">
                <!-- Label & Edit mail -->
                <label style="width:100%;"><i class="fa fa-envelope gold"></i> Email 
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputMail','infoMail')">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </a>
                </label>
                <!-- info-->
                <p class="info">{{ user.email }}</p>
              </div>

              <!-- Email EDIT -->
              <form data-toggle="validator" role="form" onsubmit="return false;" id="inputMail" style="display:none">
                <div class="form-group">
                  <!-- Label & Cancel mail -->
                  <label style="width:100%;" for="inputEmail" class="control-label"><i class="fa fa-envelope gold"></i> Email 
                    <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoMail','inputMail')">
                      <i class="fa fa-undo fa-lg"></i>
                    </a>
                  </label>
                  <!-- Input email -->
                  <input class="form-control" data-error="Enter a valid email address." type="email" name="email" id="inputEmail" placeholder="example@email.com" value="{{ user.email }}" required>
                  <!-- Error field -->
                  <div class="help-block with-errors"></div>
                  <button type="submit" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
                </div>
                
              </form>

              <!-- Birth date INFO -->
              <div class="form-group" id="infoBirthdate">
                <!-- Label & Edit birth date -->
                <label style="width:100%;"><i class="fa fa-calendar gold"></i> Birth date 
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputBirthdate','infoBirthdate')">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </a>
                </label>
                <p class="info">{{ user.profil.birth_date|date:"d / m / Y" }}</p>
              </div>

              <!-- Birth date EDIT -->
              <form data-toggle="validator" role="form" onsubmit="return false;" id="inputBirthdate" style="display:none">
                <!-- Verify Age -->
                <div class="form-group">
                  <label style="width:100%" class="control-label"><i class="fa fa-calendar gold"></i> Birth date
                    <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoBirthdate','inputBirthdate')">
                      <i class="fa fa-undo fa-lg"></i>
                    </a>
                  </label>
                  <div class="row center-block" style="margin:0">
                    <!-- Day -->
                    <div class="form-group col-xs-3" style="padding:0;margin:0;">
                      <input type="number" name="day" data-error="Invalid day" min="1" max="31" class="form-control text-center" id="inputDay" placeholder="dd" style="padding:0" value="{{ user.profil.birth_date|date:'d' }}" required>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="col-xs-1 date-slash">/</div>

                    <!-- Month -->
                    <div class="form-group col-xs-3" style="padding:0;margin:0;">
                      <input  type="number" name="month" data-error="Invalid month" min="1" max="12" class="form-control text-center" id="inputMonth" placeholder="mm"  style="padding:0" value="{{ user.profil.birth_date|date:'m' }}" required>
                      <div class="help-block with-errors"></div>    
                    </div>

                    <div class="col-xs-1 date-slash">/</div>

                    <!-- Year -->
                    <div class="form-group col-xs-4" style="padding:0;margin:0;">
                      <input type="number" name="year" data-error="Invalid year" min="1900" max="2015" class="form-control text-center" id="inputYear" placeholder="yyyy"  style="padding:0" value="{{ user.profil.birth_date|date:'Y' }}" required>
                      <div class="help-block with-errors"></div>    
                    </div>

                    <!-- Set min and max year -->
                    <script>
                    var year = new Date().getFullYear();
                    document.getElementById("inputYear").setAttribute("min", year-100 )
                    document.getElementById("inputYear").setAttribute("max", year-1 )
                    </script>
                  </div><!-- Row -->
                  <button type="submit" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
                </div><!-- Form Group -->
              </form>

              <!-- Elo -->
              <div class="form-group">
                <label><i class="fa fa-trophy gold"></i>  General elo</label>
                <p class="info">{{ user.profil.elo }}</p> 
              </div>

            </div><!-- col -->

            <div class="col-sm-6">

              <!-- Name -->
              <div class="form-group">
                <label><i class="fa fa-user gold"></i>  Name</label>
                <p class="info">{{ user.profil.name }}</p>
              </div>
              <!-- Password -->
              <div class="form-group" id="infoPassword">
                <label style="width:100%;"><i class="fa fa-lock gold"></i> Password <a href="javascript:void(0)" class="pull-right" onclick="edit('inputPass','infoPassword')"><i class="fa fa-pencil-square-o fa-lg"></i></a></label>
                <p class="info">******</p>
              </div>

              <!-- Edit Password -->
              <form data-toggle="validator" role="form" onsubmit="return false;" id="inputPass" style="display:none">
                <!-- Password -->
                <div class="form-group">
                  <label style="width:100%" for="inputPassword" class="control-label"><i class="fa fa-lock gold"></i> Password <a href="javascript:void(0)" class="pull-right" onclick="cancel('infoPassword','inputPass')"><i class="fa fa-undo fa-lg"></i></a></label>
                  <input type="password" name="password" data-error="Minimum of 3 characters" data-minlength="3" class="form-control" id="inputPassword" placeholder="New password" required>
                  <div class="help-block with-errors"></div>
                </div>

                <!-- Confirm Password -->
                <div class="form-group">
                  <label for="inputPassword2" class="control-label"><i class="fa fa-lock gold"></i> Confirm password</label>
                  <input type="password" name="confirm" data-error="Passwords doesn't match" data-match="#inputPassword" class="form-control" id="inputPassword2" placeholder="Confirm" required>
                  <div class="help-block with-errors"></div>
                </div>

                <button type="submit" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
              </form>
      
            </div><!-- col -->
          </div><!-- Row -->
          <!--<button class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>-->
        </div>
      </div>

      <!-- Statictics -->
      <h4><i class="fa fa-line-chart gold"></i> Statistics</h4>


      <!-- Bet history -->
      <h4><i class="fa fa-list gold"></i> Bet history</h4>
    </div>

    <!--
      _____             _    
     |  __ \           | |   
     | |__) |__ _ _ __ | | __
     |  _  // _` | '_ \| |/ /
     | | \ \ (_| | | | |   < 
     |_|  \_\__,_|_| |_|_|\_\
                             
    -->

    <!-- My Ranking --> 
    <div class="tab-pane" id="rank">
      <h3><i class="fa fa-trophy gold"></i> <span class="gold">My</span> ranks</h3>
      <hr>
      <!-- Ranks -->
      <div class="row">
        <!-- General rank -->
        <div class="col-sm-6 text-center">
          <h4 class="underline"><i class="fa fa-star gold"></i> General rank <i class="fa fa-star gold"></i></h4>
          <p style="padding-left:15px;">
            {{ user.profil.elo }}
            <img src="{% static 'lolbet/img/rank/'|add:user.profil.division|add:'.png' %}" width="30" alt="rank"> 
          </p>
        </div>
        <!-- Max rank -->
        <div class="col-sm-6 text-center">
          <h4 class="underline"><i class="fa fa-star gold"></i> Max rank <i class="fa fa-star gold"></i></h4>
          <p style="padding-left:15px;">
            {{ user.profil.elo }}
            <img src="{% static 'lolbet/img/rank/'|add:user.profil.division|add:'.png' %}" width="30" alt="rank"> 
          </p>
        </div>
      </div>

      <!-- Stream ranks -->
      <h4 class="text-center underline"><i class="fa fa-star gold"></i> Stream rank <i class="fa fa-star gold"></i></h4>
      <div class="block-grid-lg-3 block-grid-sm-2 block-grid-xs-1" style="margin-top:15px;">
        {% for streamer in streamer_list %}
        <div class="block-grid-item" style="padding-top:0;">
           <p class="text-center" style="width:100%;padding:0;">
            <a href="{% url 'lolbet:stream' streamer.channel_name %}">{{ streamer.name }} </a>
            <i class="fa fa-caret-right gold"></i> 
            {{ user.profil.elo }}
            <img src="{% static 'lolbet/img/rank/'|add:user.profil.division|add:'.png' %}" width="30" alt="rank">
          </p>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--
       _____      _   _   _                 
      / ____|    | | | | (_)                
     | (___   ___| |_| |_ _ _ __   __ _ ___ 
      \___ \ / _ \ __| __| | '_ \ / _` / __|
      ____) |  __/ |_| |_| | | | | (_| \__ \
     |_____/ \___|\__|\__|_|_| |_|\__, |___/
                                   __/ |    
                                  |___/     
    -->

    <!-- Settings -->
    <div class="tab-pane" id="settings">
      <h3><i class="fa fa-cog gold"></i> <span class="gold">Set</span>tings</h3>
      <hr>
      todo
    </div>

    <!--
      _____                            _   
     |  __ \                          | |  
     | |__) |___  __ _ _   _  ___  ___| |_ 
     |  _  // _ \/ _` | | | |/ _ \/ __| __|
     | | \ \  __/ (_| | |_| |  __/\__ \ |_ 
     |_|  \_\___|\__, |\__,_|\___||___/\__|
                    | |                    
                    |_|                    
    -->

    <!-- Streamer Request -->
    <div class="tab-pane" id="request">
      <h3><i class="fa fa-plus-circle gold"></i> <span class="gold">Streamer</span> requests</h3>
      <hr>

      <!-- Panel -->
      <div class="panel">
        <div class="panel-heading">
          <i class="fa fa-certificate"></i> Request for StreamerName 
          <a class="pull-right" role="button" href="javascript:void(0)" onclick="">
            <i class="fa fa-remove fa-lg"></i>
          </a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <!-- Name INFO -->
              <div class="form-group" id="infoName">
                <!-- Label & Edit name -->
                <label style="width:100%;"><i class="fa fa-user gold"></i> Name 
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputName','infoName')">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </a>
                </label>
                <!-- info-->
                <p class="info">StreamerName</p>
              </div>

              <!-- Name EDIT -->
              <form data-toggle="validator" role="form" onsubmit="return false;" id="inputName" style="display:none">
                <div class="form-group">
                  <!-- Label & Cancel name -->
                  <label style="width:100%;" for="inputStreamerName" class="control-label"><i class="fa fa-user gold"></i> Name 
                    <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoName','inputName')">
                      <i class="fa fa-undo fa-lg"></i>
                    </a>
                  </label>
                  <!-- Input name -->
                  <input class="form-control" data-error="Enter a name" type="text" name="streamerName" id="inputStreamerName" placeholder="Streamer name" value="StreamerName" required>
                  <!-- Error field -->
                  <div class="help-block with-errors"></div>
                  <button type="submit" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
                </div>
                
              </form>

              <!-- Channel name INFO -->
              <div class="form-group" id="infoChannelName">
                <!-- Label & Edit name -->
                <label style="width:100%;"><i class="fa fa-video-camera gold"></i> Channel name 
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputChannelName','infoChannelName')">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </a>
                </label>
                <!-- info-->
                <p class="info">twitch.tv/Channel name</p>
              </div>

              <!-- Channel name EDIT -->
              <form data-toggle="validator" role="form" onsubmit="return false;" id="inputChannelName" style="display:none">
                <div class="form-group">
                  <!-- Label & Cancel channel name -->
                  <label style="width:100%;" for="inputChannelName" class="control-label"><i class="fa fa-video-camera gold"></i> Channel name 
                    <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoChannelName','inputChannelName')">
                      <i class="fa fa-undo fa-lg"></i>
                    </a>
                  </label>
                  <!-- Input name -->
                  <input class="form-control" data-error="Enter a channel name" type="text" name="inputStreamerChannelName" id="inputStreamerChannelName" placeholder="Streamer name" value="StreamerChannelName" required>
                  <!-- Error field -->
                  <div class="help-block with-errors"></div>
                  <button type="submit" class="btn btn-primary center-block"><i class="fa fa-pencil"></i> Edit</button>
                </div>
                
              </form>

            </div>

            <div class="col-sm-6">
              <!-- Summoner INFO -->
              <div class="form-group" id="infoSummoner1">
                <!-- Label & Edit name -->
                <label style="width:100%;"><i class="fa fa-bolt gold"></i> Summoner 1
                  <a class="pull-right" role="button" href="javascript:void(0)" onclick="edit('inputSummoner1','infoSummoner1')">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </a>                
                </label>
                <!-- info-->
                <p class="info">Summoner name - Region </p>
              </div>

              <!-- Summoner EDIT -->
              <form data-toggle="validator" role="form" onsubmit="return false;" id="inputSummoner1" style="display:none">
                <div class="form-group">
                  <!-- Label & Cancel summoner -->
                  <label style="width:100%;" for="inputStreamerName" class="control-label"><i class="fa fa-bolt gold"></i> Summoner 1
                    <a class="pull-right" role="button" href="javascript:void(0)" onclick="cancel('infoSummoner1','inputSummoner1')">
                      <i class="fa fa-undo fa-lg"></i>
                    </a>
                  </label>
                  <!-- Input summoner -->
                  <div class="row" >
                    <!-- Summoner Name -->
                    <div class="form-group col-sm-6" style="margin-bottom:0">
                      <input type="text" data-error="Enter summoner name" class="form-control" id="inputSummonerName" placeholder="Summoner name" required>
                      <div class="help-block with-errors"></div>
                    </div>

                    <!-- Region Name -->
                    <div class="form-group col-sm-6" style="margin-bottom:0">
                      <select class="form-control">
                        {% for region in region_list %}
                        <option>{{ region.name }}</option>
                        {% endfor %}
                      </select>

                    </div>
                  </div>
                  <!-- Error field -->
                  <div class="help-block with-errors"></div>
                  <ul class="list-inline text-center">
                    <li><button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</button></li>
                    <li><button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Supprimer</button></li>
                  </ul>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div><!-- Panel -->

      <button class="btn btn-lolbet center-block" data-toggle="modal" data-target="#add_streamer" ><i class="fa fa-plus"></i> Add a streamer</button>
      
    </div>
  </div>

  <!--
    __  __           _       _ 
   |  \/  |         | |     | |
   | \  / | ___   __| | __ _| |
   | |\/| |/ _ \ / _` |/ _` | |
   | |  | | (_) | (_| | (_| | |
   |_|  |_|\___/ \__,_|\__,_|_|

  -->

  <!-- Modal add streamer -->
  <div id="add_streamer" class="modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="text-center"><span class="gold bold">Add</span> a streamer</h2>
          <hr>
          
          <form data-toggle="validator" onsubmit="return false;" data-disable="false" role="form">

            <!-- Channel Name -->
            <div class="form-group">
              <label for="inputchannelName" class="control-label">Channel name</label>
              <div class="input-group">
                <span class="input-group-addon twitch">twitch.tv/</span>
                <input type="text" data-error="Enter a channel name" class="form-control" id="inputchannelName" placeholder="Channel name" required>
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <!-- Summoner Template -->
            <div class="form-group" id="summoner_template" style="display:none;">
              <label class="control-label" style="width:100%;">Summoner <span id="summonerNumber"></span></label>
              <div class="row" >
                <!-- Summoner Name -->
                <div class="form-group col-sm-6" style="margin-bottom:0">
                  <input type="text" data-error="Enter summoner name" class="form-control" id="inputSummonerName" placeholder="Summoner name" required>
                  <div class="help-block with-errors"></div>
                </div>

                <!-- Region Name -->
                <div class="form-group col-sm-6" style="margin-bottom:0">
                  <select class="form-control">
                    {% for region in region_list %}
                    <option>{{ region.name }}</option>
                    {% endfor %}
                  </select>

                </div>
              </div>
            </div>
            
            <!-- List containing the summoners of the streamer -->
            <div id="summonerList">
            </div>

            <!-- Add or remove summoners -->
            <div class="form-group text-center">
              <button type="button" class="btn btn-lolbet" onclick="addSummoner()" ><i class="fa fa-plus fa-lg"></i></button>
              <button type="button" class="btn btn-lolbet" onclick="deleteSummoner()" ><i class="fa fa-minus fa-lg"></i></button>
            </div>   

            <!-- Submit -->
            <div class="form-group">
              <button type="submit" class="btn btn-default center-block" style="margin-top:30px;"><i class="fa fa-envelope fa-lg"></i> Send request</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}

<!--
      _  _____ 
     | |/ ____|
     | | (___  
 _   | |\___ \ 
| |__| |____) |
 \____/|_____/ 
               
              
-->

{% block JS %}
{% load static from staticfiles %}
<!-- Edit account -->
<script src="{% static 'register/js/edit_account.js' %}"></script>
<!-- Add Streamer js -->
<script src="{% static 'lolbet/js/add_streamer.js' %}"></script>
{% endblock %}